CsSamples/SampleCliTool/obj
CsSamples/SampleCliTool/CLI/bin
CsSamples/SampleCliTool/CLI/obj
CsSamples/SampleCliTool/Tests/bin
CsSamples/SampleCliTool/Tests/obj
CsSamples/SampleCliTool/GbUtil/obj
CsSamples/SampleCliTool/GbUtil/bin
CppSamples/build/*
CsSamples/CSharpBits/Tests/bin
CsSamples/CSharpBits/Tests/obj
/aws
vcpkg
deployments/
__pycache__/
logs/
.env
